$color-primary:rgb(106, 81, 98);
$color-secondary:rgb(117, 148, 179);
$color-pale-dark:#CEC8FF;
$color-mid:hsl(220, 72%, 59%);
$color-dark:#60106B;
$color-transparent-black:rgba(0,0,0,0.5);
$color-teal:#17A2B8;
$color-white:white;

$body-font:"Open Sans", san-serif;
$header-font:"Lobster", cursive;

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color:$color-primary;
}

header h2 {
    color: $color-pale-dark;
}

.site-footer {
    background-image: linear-gradient($color-pale-dark,$color-white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary,$color-primary,$color-pale-dark);
    color: $color-white;
    margin:0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color:$color-mid;
}

.carousel-caption {
    background-color:$color-transparent-black;
}
.carousel {
    border: solid $color-primary;
}
#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}
#loginModal .modal-header{
    background-color:$color-mid;
    color:$color-white;      
}
#reserveModal .modal-header{
    background-color:$color-teal;
    color:$color-white;
}